.modal_heading {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.username_form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.username_form label {
  font-size: 20px;
}

.username_form input {
  width: 300px;
  height: 45px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 20px;
  color: #3c3c3c;
  background-color: #eeeeee;
}

.username_form .invalid {
  border: 2px solid #d16363;
}

.cancel_btn,
.success_btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  margin: 0px 10px;
}

.cancel_btn {
  background-color: #d16363;
}

.cancel_btn:hover,
.cancel_btn:active {
  background-color: #b35353;
}

.success_btn {
  background-color: #3c3c3c;
}

.success_btn:hover,
.success_btn:active {
  background-color: #524c4c;
}
